


@media only screen and (min-width: 450px) {
    ion-app {
        margin: auto;
        max-width: 453.2px;
        max-height: 1006.5px;
        border-radius: 8px;
        border: 8px solid;
    }
  }
