
<ion-content [fullscreen]="true">

  <main *ngIf="home else loadingScreen">

    <section class="header">

      <ion-icon class="notif-button" fill="outline" slot="icon-only" name="notifications-outline"></ion-icon>
      <div class="profile-container"  (click)="showProfile()">
        <div class="text-container">
          <span>Welcome back!</span>
          <span class="name">{{home.profile.email}}</span>
        </div>
        <ion-avatar>
          <img src="assets/avatar.jpeg">
        </ion-avatar>
      </div>


    </section>

    <section class="balance">

      <div id="balance-chart" class="charts-css pie">
        <table>
          <tbody>
            <tr>
              <td id="available" style="--start: 0.0; --end: 1.0;"></td>
            </tr>
            <!--<tr>
              <td id="pending" style="--start: 0.0; --end: 0.2;"></td>
            </tr>-->
          </tbody>
        </table>

        <div class="chart-desc">
          <span>
            <ion-note>Balance</ion-note>
            {{home.profile.tokens.toFixed(2)}}
            <img src="assets/logo.png">
          </span>
        </div>
      </div>
      
      <!--<div class="avail-container">
        <div>
          <span>1121B°</span>
          <span>Available</span>
        </div>
        <div>
          <span>423B°</span>
          <span>Pending</span>
        </div>
      </div>-->
      
    </section>

    <div class="history">
      <ion-button class="history" fill="outline" color="primary" (click)="showHistory()">
        View History
      </ion-button>
    </div>

    <swiper class="deal-swiper"
    [pagination]="true"
    [autoplay]="true"
    [loop]="true"
    >
      <ng-template *ngFor="let deal of deals" swiperSlide class="swiper-slide-home">
        <img [src]="deal.imageUrl">
      </ng-template>
    </swiper>


    <section class="special-offers">
      
      <div class="offers-header">
        <span class="header">°B Market</span>
        <span (click)="showAllOffers()">View All</span>
      </div>

      <div class="offers-container">
        <ion-card *ngFor="let offer of home.specialOffers">
          <div class="image-container">
            <img [src]="offer.imageUrl">
          </div>
          <ion-card-header>
            <ion-card-title>{{offer.title}}</ion-card-title>
            <ion-card-subtitle>{{offer.description}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>

    </section>

  </main>




  <ng-template #loadingScreen>
    <main>

    <section class="header">

      <ion-icon class="notif-button" fill="outline" slot="icon-only" name="notifications-outline"></ion-icon>
      <div class="profile-container"  (click)="showProfile()">
        <div class="text-container">
            <ion-skeleton-text></ion-skeleton-text>
            <ion-skeleton-text></ion-skeleton-text>
        </div>
        <ion-avatar>
          <img src="assets/avatar.jpeg">
        </ion-avatar>
      </div>


    </section>

    <section class="balance">

      <div id="balance-chart" class="charts-css pie">
        <table>
          <tbody>
            <tr>
              <td id="available" style="--start: 0.0; --end: 1.0;"></td>
            </tr>
            <!--<tr>
              <td id="pending" style="--start: 0.0; --end: 0.2;"></td>
            </tr>-->
          </tbody>
        </table>

        <div class="chart-desc">
          <span>
            <ion-note>Balance</ion-note>
              <ion-skeleton-text></ion-skeleton-text>
            <img src="assets/logo.png">
          </span>
        </div>
      </div>

    </section>

    <div class="history">
      <ion-button class="history" fill="outline" color="primary" (click)="showHistory()">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-button>
    </div>

    <div class="deal-swiper">
      <ion-skeleton-text></ion-skeleton-text>
    </div>


    <section class="special-offers">
      
      <div class="offers-header">
        <span class="header">
          <ion-skeleton-text></ion-skeleton-text>
        </span>
        <span (click)="showAllOffers()">
          <ion-skeleton-text></ion-skeleton-text>
        </span>
      </div>

    </section>

    </main>
  </ng-template>

</ion-content>
