main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 6.5% 83.5%;
    animation: 0.2s fade-in ease-in-out forwards;

    @keyframes fade-in {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
}

.content {
    background: #edf8ff;
}


.header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 16px;

    .text-container {

        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;


        .points {
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
                height: 32px;
                width: 32px;
            }
        }
    }

}

.earn {
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    .earn-container {

        width: 100vw;
        max-width: 453.2px;

        .header {

            display: flex;
            align-items: center;
            justify-content: space-between;
            background: white;
            padding: 12px;
            border-radius: 4px;
            box-shadow: 2px 2px 5px -1px lightgray;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 14px;

            h1 {
                margin: 0 !important
            }

        }

        .card-container {
            height: 100%;

        }

        .card-wrapper {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        swiper {
            padding-right: 64px;
        }

    }

}

.spend {
    height: 100%;
    overflow-y: scroll;

    .searchbar-wrapper {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: white;
    }
}


.success-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success-button {
    width: 65%;
    margin-top: 16px;
}