main {
    height: 100%;
    padding: 16px;
    display: grid;
    grid-template-rows: 5% 35% 48.5% 6.5%;
}

.back-button {
    justify-self: flex-start;
    padding: 12px;
    border-radius: 4%;
    border: solid 1px lightgray;
    cursor: pointer;
}

img {
    border-radius: 5%;
    height: 100%;
    width: auto;
    margin: 0 auto;
}