main {
    width: 100%;

    animation: 0.2s fade-in ease-in-out forwards;
    background: whitesmoke;

    @keyframes fade-in {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
}

ion-segment {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 5;
}

.content {
    height: 100%;
}

.overview {

    .overview-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 64px;
    }

    .balance-container {
        background-color: var(--ion-color-primary);
        box-shadow: 4px 4px lightgray;
        color:white;
        height: 150px;
        width: 80%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;

        h1 {
            font-size: 48px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-left: 16px;
                height: 48px;
                width: 48px;
            }
        }
    }

    ion-item {
        width: 90%;
        cursor: pointer;
        --border-width: 1px;
        --border-radius: 64px;
        --border-color: black;
        color: black;
        --inner-padding-top: 8px;
        --inner-padding-bottom: 8px;
        padding: 8px;

        ion-icon {
            color: black !important;
        }
    }

    ion-button {
        width: 90%;
        text-transform: unset;
    }

}


.history {
    height: 100%;
    padding: 8px;

    display: flex;
    flex-direction: column;

    .filter-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;

        ion-chip {
            flex-grow: 1;
            width: 33%;
            justify-content: center;
        }

    }

    .header {
        font-size: 24px;
        padding: 0 8px;
    }

    ion-list {
        overflow-y: scroll;
        padding-top: 0 !important;
        background-color: whitesmoke !important;

        ion-item-divider {
            position: sticky;
            background-color: white;
            top: 0;
            z-index: 10;
        }
    }

    ion-item-group {
        margin: 8px;
        border: 2px black;
        border: 1px solid black;
    }

}