main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow-y: scroll;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    ion-icon {
        height: 32px;
        width: 32px;
        font-weight: bold;
    }
}

h1 {
    text-align: center;
}

.question-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;

    .answer-container {
        display: flex;
        flex-direction: column;
    }


}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-button {
        text-transform: unset;
    }
}

ion-item {
    border: 1px solid;
    box-shadow: 4px 4px 2px lightgray;
    margin: 16px;
    padding: 16px;
    --ripple-color: transparent;
    background-color: white;
}
