main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: 0.2s fade-in ease-in-out forwards;

    @keyframes fade-in {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }

    
    img {
        filter: blur(4px);
    }

}