<main>
  <ion-icon class="back-button" (click)="dismiss()" fill="outline" slot="icon-only" name="chevron-back"></ion-icon>


  <div class="profile-container">
    <img [src]="getAvatar()">
    <span>{{name}}</span>
  </div>

  <section class="buttons">
    <ion-button color="dark" fill="outline" size="large" (click)="showToc()">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Terms of Use</ion-label>
    </ion-button>

    <ion-button color="dark" fill="outline" size="large" (click)="showPrivacy()">
      <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
      <ion-label>Privacy Policy</ion-label>
    </ion-button>
    <ion-button color="danger" fill="outline" (click)="logout()">Logout</ion-button>

  </section>
</main>