ion-card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.divider {
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    height: 2px;
}


img {
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 16px;
    height: 64px;
    width: 64px;
}


ion-button {
    width: 100%;
    text-transform: none;
    color: white !important;
}

ion-card-content {
    padding-bottom: 32px;
}

.expiry-date {
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

