ion-fab-button {
  height: 64px;
  width: 64px;
}

ion-tab-bar {
  height: 80px;  
}

.modal-body {
    padding: 16px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-rows: 5% 15% 80%;
    background-color: white;

    .close-wrapper {
      font-size: 32px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-align: center;

    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .action-buttons {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 50% 50%;
      place-items: center;
      width: 100%;
      height: 100%;


      .action-button {
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        text-align: center;
        border-radius: 5%;
        cursor: pointer;
        background: white;

        ion-icon {
          margin-bottom: 8px;
          font-size: 32px;
          padding: 8px;
          border-radius: 5%;

        }

      }

    }

    .scan-wrapper {
      flex-grow: 1;
      height: 100%;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    

    .scan-button {
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid var(--ion-color-primary);
      text-align: center;
      border-radius: 12px;
      box-shadow: 0px 0px 8px 0px lightgray;
      padding: 16px;
      background-color: white;

      ion-icon {
        font-size: 32px;
        padding: 8px;
        border-radius: 5%;
      }
      
      .text-container {
        margin-left: 32px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }


      
    }

  }
  
  ion-modal {
    --height: auto;
  }

  
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 60%;
    height: 60%;
  }

  .spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ion-spinner {
      height: 64px;
      width: 64px;
    }

  .success-wrapper {
    animation: 0.5s fade-in ease-in-out forwards;

    @keyframes fade-in {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
  }

  }

